.page {
  width: 100vw;
  height: 100vh;
}

.header {
  height: 100px;
  width: 100vw;
  background: #4b6272;
  margin-top: 0%;
}

.headerLogo {
  width: 75px;
  height: 75px;
  float: left;
}

.headerLogoText {
  position: absolute;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 25px;
  width: 22%;
}

.headerRow:after {
  content: "";
  display: table;
  clear: both;
}

.loginBox {
  border-radius: 25px;
  width: 490px;
  height: 490px;
  background-color: #e5e5e5;
  position: absolute;
  left: 490px;
  top: 25%;
}

.searchBox {
  border-radius: 25px;
  width: 80vw;
  height: fit-content;
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.resultsBox {
  border-radius: 10px;
  background-color: #c5c5c5;
  width: 30vw;
  height: 65vh;
  top: 25%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 35px;
  box-sizing: border-box;
}

.registrationBox {
  border-radius: 25px;
  width: 490px;
  height: 580px;
  background-color: #e5e5e5;
  position: absolute;
  left: 490px;
  top: 25%;
}

body {
  background: #284b63;
  width: 1440px;
}
