.page {
    width: 1440px;
    height: 1024px;
}

.header {
    height: 100px;
    width: 1440px;
    background: #4B6272;
    margin-top: 0%;
}

.headerLogo {
    width: 75px; 
    height: 75px;
    float: left;
}

.headerLogoText {
    position: absolute;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 25px;
    width: 22%;
}

.headerRow:after {
    content: "";
    display: table;
    clear: both;
}

.loginBox {
    border-radius: 25px;
    width: 490px;
    height: 490px;
    background-color: #E5E5E5;
    position: absolute;
    left: 490px;
    top:25%
}

.registrationBox {
    border-radius: 25px;
    width: 490px;
    height: 580px;
    background-color: #E5E5E5;
    position: absolute;
    left: 490px;
    top:25%
}

body {
    background: #284B63;
    width: 1440px;
}
